@charset "UTF-8";
/**
 * 
 * @authors 张明臣 (vest0804@gamil.com)
 * @date    2014-12-30 10:55:16
 * @version 1.0
 */
body { background: #f5f5f5; color: #444; font: 12px / 1.5em "Hiragino Sans GB", "Microsoft YaHei", 微软雅黑,SimSun,arial; margin: 0; padding: 48px 0 0 0;}
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, blockquote, p { margin: 0; padding: 0; }
ul { list-style: none; }
li { list-style-type: none; }
img { border: 0; vertical-align: top; }
select, input { font-size: 12px; }
address, cite, code, em, th { font-style: normal; font-weight: normal; }
*{-webkit-tap-highlight-color: rgba(0,0,0,0); tap-highlight-color: rgba(0,0,0,0);}

a{text-decoration: none; }
.none{display:none;}
.e_clear:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
.e_clear { display: inline-block; }
.e_clear { display: block; }
.ce0{background:#e0e0e0;}

.bar{width:100%;height:48px; line-height:48px; font-size:16px; color:#fff; background:#eb5139; text-align:center; position:fixed; top:0; z-index:999;}
.search_btn{position:absolute; width:19px; height:19px; top:15px; right:18px; background:url(../images/search_icon.png) no-repeat; background-size:100% 100%;}
.search_btn:active{background:url(../images/search_icon_active.png) no-repeat; background-size:100% 100%;}
.nav{height:30px; width:100%; background:#eb5139; text-align:center; position:fixed; z-index:999;}
.nav li{display:inline-block;  margin:0 30px; height:28px; line-height:28px; border-bottom:2px solid transparent; color:#fff;}
.nav li a{color:#fff; display:block; padding:0 12px;height:28px; line-height:28px;}
.nav li:active{background:rgba(255,255,255,.1); border-radius: 10px}
.nav li.on{position:relative;}
.nav li.on:after{content:" ";position:absolute; width:100%; height:2px; background:#fff; border-radius: 1px; bottom:1px; left:50%; margin-left:-50%;}
.nav li.on a{color:#fff;}
.recommended_top{margin-bottom:8px;}
.recommended{padding:38px 9px 0px; background:#f5f5f5;}
.recommended_three li{width:30%; float:left;}
.recommended_three li:nth-child(2){margin:0 5%;}
.recommended_calendar_list{padding:0 0 0 0;}
.recommended_calendar_list dl.on{background:#e0e0e0;}
.recommended_calendar_list dl{margin:0 9px; padding:10px 0; border-bottom:1px solid #e0e0e0;}
.recommended_calendar_list dt{float:left; width:80px; height:50px; overflow:hidden;}
.recommended_calendar_list dd{margin-left:90px; padding-right:60px; position:relative;}
.recommended_calendar_list dd a{position:absolute; top:7px; right:0; width:58px; height:35px; line-height:35px; text-align:center; border:1px solid #afafaf; border-radius:13px; -webkit-border-radius:13px; color:#13ce5c; font-size:14px;}
.recommended_calendar_list dd a:active{background:#e0e0e0;}
.recommended_calendar_list dd a.on{color:#0d0d0d;}
/*无图片时*/
.recommended_calendar_list dl.noimg dt{display:none;}
.recommended_calendar_list dl.noimg dd{margin-left:0;}

.div_list{position:relative;}
.focus_btn{position:absolute; top:17px; right:10px; width:58px; height:35px; font-size:14px; text-align:center; border:1px solid #afafaf; border-radius:13px; -webkit-border-radius:13px; color:#13ce5c; }
.focus_btn div{display:inline-block; width:1px; height:35px; vertical-align: middle;}
.focus_btn b,.recommended_calendar_list b{font-weight:500; vertical-align: middle;}

.focus_btn:active{background:#e0e0e0;}
.div_list .on{color:#0d0d0d;}
.div_list .on div{display:inline-block; width:1px; height:35px; vertical-align: middle;}
.div_list .on b,.recommended_calendar_list .on b{font-weight:500; vertical-align: middle;}

.recommended_calendar_list dd h3{font-size:16px; margin-top:4px; color:#0e0e0e; font-weight:500; overflow: hidden;white-space:nowrap; text-overflow: ellipsis;}
.recommended_calendar_list dd p{color:#838383; overflow:hidden; white-space:nowrap; text-overflow: ellipsis; font-size:12px;}
.schedule_content .footer_copy,.schedule_details_conetnt .footer_copy{border-top: solid 1px #e0e0e0;}

.footer_copy{height:12px; background:#f5f5f5 url(../images/footer_icon.png) no-repeat center center; width:100%; padding:26px 0; text-align:center; background-size:88px 10px;}

.classification_list{background:#f5f5f5; padding-top:30px;}
.classification_list dl{padding:12px 0; border-bottom:1px solid #d4dbe0; margin:0 5%;}
.classification_list dt{width:65px; float:left;}
.classification_list dd{margin-left:65px; line-height:40px; font-size:16px; color:#858585;}
.list_icon{width:44px; height:44px;}
.classification_list dl .list_icon{background-size:44px 44px;}

.classification_list dd .arrow{float:right; width:10px; height:10px; border-top:1px solid #898e91; border-right:1px solid #898e91; transform:rotate(45deg);-webkit-transform:rotate(45deg); margin-top:15px; margin-right:5px;}
.calendar_list{padding:0 2%;}

.search_results{margin:0 9px; padding:9px 0 0 0;}
.search_input{padding:0 9px 0 50px; position:relative;}
.clear_input{position:absolute; width:18px; height:18px; right:9px; top:14px;  background:#eb5139;}
.clear_input:after{ content:" ";width:1px; height:15px; position:absolute; left:10px; top:3px; background:#fff; transform:rotate(45deg); -webkit-transform:rotate(45deg);}
.clear_input:before{content:" ";width:15px; height:1px; position:absolute; top:10px; left:3px; background:#fff; transform:rotate(45deg); -webkit-transform:rotate(45deg);}
.search_input input{width:100%; height:20px; background:transparent; border:0; border-bottom:1px solid #f18575; outline:none; color:#fff; font-size:16px;}
.search_results ul li{height:54px; line-height:54px; border-bottom:1px solid #e0e0e0;}
.search_results ul li a{display:block; width:100%; height:54px; color:#000; font-size:14px;}

.kupai_title_h4 h4{position:absolute; background:#f5f5f5; padding-right:10px;  color:#a7a7a7; font-size:12px; font-weight:500; z-index:2;}
.kupai_title_h4{height:8px;position:relative;border-bottom: solid 1px #e0e0e0; margin-bottom: 7px;}
/*.kupai_title_h4:after{content:" "; height:1px; line-height:1px; background:#e0e0e0;position:absolute; width:-webkit-calc(100% - 18px); top:50%; right:0; z-index:1;}*/

.schedule_content{padding:9px 15px 64px;}
.calendar_info p{padding:8px 0;line-height:180%; font-size:14px; color:#000000;}
.schedule_day dl:last-child{border:0;}
.schedule_content .recommended_calendar_list dl{margin:0;}
.activity_txt{float:left;}
.schedule_content .time{position:absolute; width:40px; height:50px; line-height:50px; text-align:center; color:#838383; right:0; top:0;}

.subscribe_btn,.remind_btn{width:100%; height:54px; background:#f5f5f5; position:fixed; bottom:0; padding:5px 0;}
.subscribe_btn{z-index:999;}
.subscribe_icon{width:40px; height:40px; margin:0 auto; background:url(../images/bottombar_item_bracket_normal.png) no-repeat; position:relative; background-size:40px 40px;}
.subscribe_icon:after{content:""; position:absolute; width:38px; height:38px; background:url(../images/subscribe_icon.png) no-repeat center center; background-size:25px 25px;}
.subscribe_icon:active{background:url(../images/bottombar_item_bracket_pressed.png) no-repeat; background-size:40px 40px;}
.subscribe_btn .on{background:url(../images/bottombar_item_bracket_normal.png) no-repeat; background-size:40px 40px; position:relative;}
.subscribe_btn .on:after{background:url(../images/subscribe_icon_on.png) no-repeat center center; background-size:25px 25px; position:absolute; z-index:999;}
.subscribe_btn p,.remind_btn p{text-align:center;}

.recommended_calendar_content{padding:9px 9px 0;}
.recommended_calendar_focus{position:relative;}
.focus_point {position:absolute; bottom:5px; left:50%; margin-left:-18px;text-align:center;}
.focus_point li{width:6px; height:6px; border-radius:3px; -webkit-border-radius:3px; background:rgba(255,255,255,.5); display:inline-block; margin:0 3px;}
.focus_point li.on{background:rgba(255,255,255,1)}

.schedule_details_focus{padding:24px 16px 0px 16px; position:relative;}
.schedule_details_focus .focus_point{bottom:12px;}
.schedule_details_focus .focus_point li{background:rgba(0,0,0,.5); }
.schedule_details_focus .focus_point li.on{background:rgba(0,0,0,1);}
.schedule_details_conetnt{padding:0 16px 74px;}
.schedule_time p{line-height:36px; font-size:12px; color:#000;}
.schedule_txt_content{padding:10px 0;}
.url_address{height:55px; padding-right:32px; line-height:55px; border:1px solid #e0e0e0; border-bottom:0; border-left:0; border-right:0; position:relative;}

.url_address a{display:block; width:100%; height:55px; color:#000;}

.ul_address:last-child{border-bottom:1px solid #e0e0e0;}
.url_address:after{content:" "; position:absolute; width:12px; height:12px; border-top:1px solid #b9b9b9; border-right:1px solid #b9b9b9;transform:rotate(45deg); -webkit-transform:rotate(45deg); right:16px; top:20px;}


.remind_icon{width:38px; height:38px; border:1px solid rgba(167,167,167,.5); border-radius:15px; -webkit-border-raidus:15px; margin:0 auto; background:url(../images/remind_icon.png) no-repeat center center;}
.remind_btn .on{background:url(../images/remind_iocn_on.png) no-repeat center center; border:1px solid rgba(167,167,167,1);}
.schedule_title{line-height:180%; font-size:16px; color:#000;}

.public_image_container{height:auto; margin:0 auto;}
.public_image_span.on{background:#000;}
.schedule_img .public_image_index,.recommended_calendar_focus .public_image_index{position:absolute; bottom:5px; margin:0;}

.no_subscribe{text-align:center; line-height:100px; font-size:16px; color:#333;}

/*loading*/
.sdk_loading{width:85px; height:85px; position:relative;}
.blue,.red,.black,.green{width:34px; height:34px; border-radius:17px; position:absolute;} 
.blue{background:#eb4f38; top:0; right:0;
	-moz-animation: brotating 4s infinite linear;
    -webkit-animation: brotating 4s infinite linear;
}
.red{background:#eb4f38; top:0; left:0;
	-moz-animation: rrotating 4s infinite linear;
    -webkit-animation: rrotating 4s infinite linear;
}
.black{background:#eb4f38; bottom:0; left:0;
	-moz-animation: krotating 4s infinite linear;
    -webkit-animation: krotating 4s infinite linear;
}
.green{background:#eb4f38; bottom:0; right:0;
	-moz-animation: grotating 4s infinite linear;
    -webkit-animation: grotating 4s infinite linear;
}
@-webkit-keyframes brotating {
	%0{
		top:0; left:51px;
	}
	12.5%{
		top:25px; left:51px;
	}
	25%{
		top:51px; left:51px;
	}
	37.5%{
		top:51px; left:25px;
	}
	50%{
		top:51px; left:0;
	}
	62.5%{
		top:25px; left:0;
	}
	75%{
		top:0; left:0;
	}
	87.5%{
		top:0; left:25px;
	}
	100%{
		top:0; left:51px;
	}
}
@-o-keyframes brotating {
	%0{
		top:0; left:51px;
	}
	12.5%{
		top:25px; left:51px;
	}
	25%{
		top:51px; left:51px;
	}
	37.5%{
		top:51px; left:25px;
	}
	50%{
		top:51px; left:0;
	}
	62.5%{
		top:25px; left:0;
	}
	75%{
		top:0; left:0;
	}
	87.5%{
		top:0; left:25px;
	}
	100%{
		top:0; left:51px;
	}
}
@-moz-keyframes brotating {
	%0{
		top:0; left:51px;
	}
	12.5%{
		top:25px; left:51px;
	}
	25%{
		top:51px; left:51px;
	}
	37.5%{
		top:51px; left:25px;
	}
	50%{
		top:51px; left:0;
	}
	62.5%{
		top:25px; left:0;
	}
	75%{
		top:0; left:0;
	}
	87.5%{
		top:0; left:25px;
	}
	100%{
		top:0; left:51px;
	}
}
@keyframes brotating {
	%0{
		top:0; left:51px;
	}
	12.5%{
		top:25px; left:51px;
	}
	25%{
		top:51px; left:51px;
	}
	37.5%{
		top:51px; left:25px;
	}
	50%{
		top:51px; left:0;
	}
	62.5%{
		top:25px; left:0;
	}
	75%{
		top:0; left:0;
	}
	87.5%{
		top:0; left:25px;
	}
	100%{
		top:0; left:51px;
	}
}

@-webkit-keyframes rrotating {
	%0{
		top:0; left:0;
	}
	12.5%{
		top:0; left:25px;
	}
	25%{
		top:0; left:51px;
	}
	37.5%{
		top:25px; left:51px;
	}
	50%{
		top:51px; left:51px;
	}
	62.5%{
		top:51px; left:25px;
	}
	75%{
		top:51px; left:0;
	}
	87.5%{
		top:25px; left:0;
	}
	100%{
		top:0; left:0;
	}
}
@-o-keyframes rrotating {
	%0{
		top:0; left:0;
	}
	12.5%{
		top:0; left:25px;
	}
	25%{
		top:0; left:51px;
	}
	37.5%{
		top:25px; left:51px;
	}
	50%{
		top:51px; left:51px;
	}
	62.5%{
		top:51px; left:25px;
	}
	75%{
		top:51px; left:0;
	}
	87.5%{
		top:25px; left:0;
	}
	100%{
		top:0; left:0;
	}
}
@-moz-keyframes rrotating {
	%0{
		top:0; left:0;
	}
	12.5%{
		top:0; left:25px;
	}
	25%{
		top:0; left:51px;
	}
	37.5%{
		top:25px; left:51px;
	}
	50%{
		top:51px; left:51px;
	}
	62.5%{
		top:51px; left:25px;
	}
	75%{
		top:51px; left:0;
	}
	87.5%{
		top:25px; left:0;
	}
	100%{
		top:0; left:0;
	}
}
@keyframes rrotating {
	%0{
		top:0; left:0;
	}
	12.5%{
		top:0; left:25px;
	}
	25%{
		top:0; left:51px;
	}
	37.5%{
		top:25px; left:51px;
	}
	50%{
		top:51px; left:51px;
	}
	62.5%{
		top:51px; left:25px;
	}
	75%{
		top:51px; left:0;
	}
	87.5%{
		top:25px; left:0;
	}
	100%{
		top:0; left:0;
	}
}

@-webkit-keyframes krotating {
	%0{
		bottom:0; left:0;
	}
	12.5%{
		bottom:25px; left:0;
	}
	25%{
		bottom:51px; left:0;
	}
	37.5%{
		bottom:51px; left:25px;
	}
	50%{
		bottom:51px; left:51px;
	}
	62.5%{
		bottom:25px; left:51px;
	}
	75%{
		bottom:0px; left:51px;
	}
	87.5%{
		bottom:0px; left:25px;
	}
	100%{
		bottom:0; left:0;
	}
}

@-o-keyframes krotating {
	%0{
		bottom:0; left:0;
	}
	12.5%{
		bottom:25px; left:0;
	}
	25%{
		bottom:51px; left:0;
	}
	37.5%{
		bottom:51px; left:25px;
	}
	50%{
		bottom:51px; left:51px;
	}
	62.5%{
		bottom:25px; left:51px;
	}
	75%{
		bottom:0px; left:51px;
	}
	87.5%{
		bottom:0px; left:25px;
	}
	100%{
		bottom:0; left:0;
	}
}
@-moz-keyframes krotating {
	%0{
		bottom:0; left:0;
	}
	12.5%{
		bottom:25px; left:0;
	}
	25%{
		bottom:51px; left:0;
	}
	37.5%{
		bottom:51px; left:25px;
	}
	50%{
		bottom:51px; left:51px;
	}
	62.5%{
		bottom:25px; left:51px;
	}
	75%{
		bottom:0px; left:51px;
	}
	87.5%{
		bottom:0px; left:25px;
	}
	100%{
		bottom:0; left:0;
	}
}
@keyframes krotating {
	%0{
		bottom:0; left:0;
	}
	12.5%{
		bottom:25px; left:0;
	}
	25%{
		bottom:51px; left:0;
	}
	37.5%{
		bottom:51px; left:25px;
	}
	50%{
		bottom:51px; left:51px;
	}
	62.5%{
		bottom:25px; left:51px;
	}
	75%{
		bottom:0px; left:51px;
	}
	87.5%{
		bottom:0px; left:25px;
	}
	100%{
		bottom:0; left:0;
	}
}

@-webkit-keyframes grotating {
	%0{
		bottom:0; right:0;
	}
	12.5%{
		bottom:0px; right:25px;
	}
	25%{
		bottom:0px; right:51px;
	}
	37.5%{
		bottom:25px; right:51px;
	}
	50%{
		bottom:51px; right:51px;
	}
	62.5%{
		bottom:51px; right:25px;
	}
	75%{
		bottom:51px; right:0px;
	}
	87.5%{
		bottom:25px; right:0px;
	}
	100%{
		bottom:0; right:0;
	}
}

@-o-keyframes grotating {
	%0{
		bottom:0; right:0;
	}
	12.5%{
		bottom:0px; right:25px;
	}
	25%{
		bottom:0px; right:51px;
	}
	37.5%{
		bottom:25px; right:51px;
	}
	50%{
		bottom:51px; right:51px;
	}
	62.5%{
		bottom:51px; right:25px;
	}
	75%{
		bottom:51px; right:0px;
	}
	87.5%{
		bottom:25px; right:0px;
	}
	100%{
		bottom:0; right:0;
	}
}

@-moz-keyframes grotating {
	%0{
		bottom:0; right:0;
	}
	12.5%{
		bottom:0px; right:25px;
	}
	25%{
		bottom:0px; right:51px;
	}
	37.5%{
		bottom:25px; right:51px;
	}
	50%{
		bottom:51px; right:51px;
	}
	62.5%{
		bottom:51px; right:25px;
	}
	75%{
		bottom:51px; right:0px;
	}
	87.5%{
		bottom:25px; right:0px;
	}
	100%{
		bottom:0; right:0;
	}
}

@keyframes grotating {
	%0{
		bottom:0; right:0;
	}
	12.5%{
		bottom:0px; right:25px;
	}
	25%{
		bottom:0px; right:51px;
	}
	37.5%{
		bottom:25px; right:51px;
	}
	50%{
		bottom:51px; right:51px;
	}
	62.5%{
		bottom:51px; right:25px;
	}
	75%{
		bottom:51px; right:0px;
	}
	87.5%{
		bottom:25px; right:0px;
	}
	100%{
		bottom:0; right:0;
	}
}