*{margin:0; padding:0;}
		ul{list-style: none;}
		li{list-style-type: none;}
		.main{width:100%; margin:0 auto; background:#fff; padding-bottom:60px;}
		.main li{margin-bottom:5px;}
		.main li.one{height:225px; background:url(../images/one.jpg) no-repeat center top; -webkit-background-size:320px 225px;}
		.main li.two{height:232px;background:url(../images/two.jpg) no-repeat center top; -webkit-background-size:320px 232px;}
		.main li.three{height:232px;background:url(../images/three.jpg) no-repeat center top; -webkit-background-size:320px 232px;}
		.main li.four{height:273px; background:url(../images/four.jpg) no-repeat center top; -webkit-background-size:320px 273px;}
		.fixed{width:200px; height:50px; background:url(../images/btn.png) no-repeat left top; position:fixed; bottom:0px; left:50%; margin-left:-100px;}
		.fixed:active{background:url(../images/btn.png) no-repeat left -50px;}
@media only screen and (-webkit-device-pixel-ratio:1){
		.main li{margin-bottom:5px;}
		.main li.one{height:225px; background:url(../images/one.jpg) no-repeat center top; -webkit-background-size:320px 225px;}
		.main li.two{height:232px;background:url(../images/two.jpg) no-repeat center top; -webkit-background-size:320px 232px;}
		.main li.three{height:232px;background:url(../images/three.jpg) no-repeat center top; -webkit-background-size:320px 232px;}
		.main li.four{height:273px; background:url(../images/four.jpg) no-repeat center top; -webkit-background-size:320px 273px;}
	}
