body{ font-family: "Microsoft YaHei"; background-color: #2b2f3b;}
*{margin:0; padding:0;}
ul{list-style: none;}
li{list-style-type: none;}
a { color:#0d23f4; cursor: pointer; text-decoration: none; }
table { border-collapse: collapse; border-spacing: 0; table-layout: fixed; width:100%; }
td,th{border: 1px solid #BCBEC0; height:30px; text-align:center;}
.e_clear:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
.e_clear { display: inline-block; }
.e_clear { display: block; }

.main{width:100%; background:#2b2f3b url(../images/help_v4/bg.png) no-repeat; background-size:100% auto; }
.top{width:100%; height:150px; background:url(../images/help_v4/top_icon.png) no-repeat center center; background-size:60px 60px;}
.top p{font-size:16px; color:#8996e0; text-align:center; padding-top:110px;}
.back_btn{float:left; width:14px; height:20px; background:url(../images/help_v4/back_btn.png) no-repeat; background-size:14px 20px; margin:20px 0 0 20px;}
.qa_list dt{width:98%; height:50px; font-size:14px; line-height:50px; padding:0 1%; background:#252831 url(../images/help_v4/dl_list.png) no-repeat 96% center; background-size:35px 35px; color:#fff; border-bottom:1px solid #2b2f3b;}
.qa_list dd{display:none; padding:10px 20px; font-size:13px; color:#5e6374;}
.qa_list dl.on dt{background-color:rgba(255, 255, 255, 0.2); background-image:  url(../images/help_v4/dl_lists.png);}

.a1{width:188px; height:325px; background:url(../images/help_v4/a1.png) no-repeat; background-size:188px 325px; margin:5px auto;}
.a2{width:188px; height:325px; background:url(../images/help_v4/a2.png) no-repeat; background-size:188px 325px; margin:5px auto;}

.b1{width:207px; height:325px; background:url(../images/help_v4/b1.png) no-repeat; background-size:207px 325px; margin:5px auto;}
.b2{width:227px; height:217px; background:url(../images/help_v4/b2.png) no-repeat; background-size:227px 217px; margin:5px auto;}

.c1{width:188px; height:216px; background:url(../images/help_v4/c1.png) no-repeat; background-size:188px 216px; margin:5px auto;}
.c2{width:188px; height:316px; background:url(../images/help_v4/c2.png) no-repeat; background-size:188px 316px; margin:5px auto;}

.d1{width:230px; height:696px; background:url(../images/help_v4/d1.png) no-repeat; background-size:230px 696px; margin:5px auto;}

.e1{width:200px; height:592px; background:url(../images/help_v4/e1.png) no-repeat; background-size:200px 592px; margin:5px auto;}

.f1{width:188px; height:325px; background:url(../images/help_v4/f1.jpg) no-repeat; background-size:188px 325px; margin:5px auto;}
.f2{width:203px; height:325px; background:url(../images/help_v4/f2.png) no-repeat; background-size:203px 325px; margin:5px auto;}
.f3{width:188px; height:332px; background:url(../images/help_v4/f3.png) no-repeat; background-size:188px 332px; margin:5px auto;}

.g1{width:190px; height:550px; background:url(../images/help_v4/g1.png) no-repeat; background-size:190px 550px; margin:5px auto;}
.g2{width:190px; height:332px; background:url(../images/help_v4/g2.png) no-repeat; background-size:190px 332px; margin:5px auto;}
.g3{width:190px; height:332px; background:url(../images/help_v4/g3.png) no-repeat; background-size:190px 332px; margin:5px auto;}
.g4{width:190px; height:332px; background:url(../images/help_v4/g4.png) no-repeat; background-size:190px 332px; margin:5px auto;}