a:hover {
	color: rgb(255, 51, 0); text-decoration: underline;
}
.topborder {
	width: 960px; height: 1px; overflow: hidden; border-bottom-color: rgb(223, 223, 224); border-bottom-width: 1px; border-bottom-style: solid;
}
.map-content {
	border-width: medium 1px 1px; border-style: none solid solid; border-color: currentColor rgb(223, 223, 224) rgb(223, 223, 224); font-size: 14px; background-color: rgb(250, 250, 250);
}
.map-content .map-title {
	height: 26px; text-align: center; padding-top: 4px; font-weight: bold; background-color: rgb(241, 241, 241);
}
.map-content .map-container {
	position: relative;
}
.map-content .map-body {
	margin: 5px auto; width: 496px; height: 415px;
}
.map-content .map-body area {
	
}
.edu-content {
	border: 1px solid rgb(223, 223, 224); font-size: 14px; margin-bottom: 10px;
}
.edu-content .edu-title {
	height: 26px; text-align: center; padding-top: 4px; font-weight: bold; background-color: rgb(241, 241, 241);
}
.edu-content .edu-container {
	padding: 10px 10px 0px;
}
.edu-content table {
	width: 100%;
}
.edu-content table th {
	height: 25px; text-align: center; color: rgb(102, 102, 102); font-size: 12px; font-weight: bold; background-color: rgb(245, 245, 245);
}
.edu-content table td {
	border-width: 1px 0px 0px 1px; border-style: solid none none solid; border-color: rgb(225, 225, 225) currentColor currentColor rgb(225, 225, 225); height: 32px; text-align: center; color: rgb(51, 51, 51); font-size: 14px;
}
.edu-content table td.first {
	border-left-color: currentColor; border-left-width: 0px; border-left-style: none;
}
.edu-content table td a {
	margin: 0px 20px 0px 0px;
}
.edu-search {
	padding: 10px 30px 15px;
}
.edu-search select {
	margin-right: 20px;
}
.edu-search .submit {
	background: url("../images/../images/extra_sprite.png") no-repeat 0px -430px; border: 0px currentColor; width: 53px; height: 22px; text-align: center; margin-top: 2px; cursor: pointer;
}
.star-content-link {
	width: 830px; color: rgb(5, 77, 161); overflow: hidden; float: left;
}
.star-content-link li {
	width: 166px; height: 58px; float: left;
}
.star-content-link .star-body {
	padding: 8px; width: 102px; border-bottom-color: rgb(239, 239, 239); border-bottom-width: 1px; border-bottom-style: solid;
}
.star-content-link .star-name {
	height: 20px; font-weight: bold;
}
.star-content-link .star-name a {
	font-weight: bold;
}
.star-content-link .star-link a {
	font-size: 12px;
}
.star-content-link .star-link span {
	margin: 0px 5px;
}
.star-content-link .last-row {
	border: 0px currentColor;
}
.bank-con-content-link {
	padding: 8px; width: 814px; color: rgb(5, 77, 161); overflow: hidden; float: left;
}
.bank-con-content-link li {
	width: 203px; height: 58px; float: left;
}
.bank-con-content-link .bank-con-body {
	padding: 8px; width: 80px; border-bottom-color: rgb(223, 223, 224); border-bottom-width: 1px; border-bottom-style: solid;
}
.bank-con-content-link .bank-con-name {
	height: 20px; color: rgb(102, 102, 102); font-weight: bold;
}
.bank-con-content-link .bank-con-name a {
	font-weight: bold;
}
.bank-con-content-link .bank-con-link a {
	font-size: 12px;
}
.bank-con-content-link .bank-con-link span {
	margin: 0px 5px;
}
.bank-con-content-link .last-row {
	border: 0px currentColor;
}
.lon-content {
	border-width: medium 1px 1px; border-style: none solid solid; border-color: currentColor rgb(223, 223, 224) rgb(223, 223, 224); width: 958px; font-size: 14px;
}
.lon-content .lon-row {
	overflow: hidden;
}
.lon-content .lon-list {
	width: 190px; float: left;
}
.lon-content .spec {
	border-width: 0px 1px; border-style: none solid; border-color: currentColor rgb(223, 223, 224); padding-bottom: 999em; margin-bottom: -999em;
}
.lon-content .lon-title {
	height: 25px; text-align: center; padding-top: 5px; font-weight: bold; background-color: rgb(241, 241, 241);
}
.lon-content .lon-container {
	padding: 15px 0px 0px 15px;
}
.lon-content .lon-container li {
	height: 29px;
}
.lon-content .last-row {
	width: 194px; border-right-color: currentColor; border-right-width: 0px; border-right-style: none;
}
.hot-content {
	border-width: 0px 1px 1px; border-style: none solid solid; border-color: currentColor rgb(223, 223, 224) rgb(223, 223, 224); width: 958px; height: 30px; overflow: hidden; margin-bottom: 10px;
}
.hot-content .hot-title {
	padding: 6px 0px 0px 13px; width: 70px; height: 24px; float: left; background-color: rgb(237, 237, 237);
}
.hot-content .hot-title-back {
	background: url("../images/extra_sprite.png") no-repeat -60px 0px; width: 23px; height: 30px; float: left;
}
.hot-content .hot-title a {
	color: rgb(255, 51, 0); font-size: 14px;
}
.hot-content ul {
	width: 794px; height: 30px; overflow: hidden; margin-left: 5px; float: left;
}
.hot-content li {
	padding: 6px 7px 0px; height: 24px; float: left;
}
.hot-content li a {
	color: rgb(51, 51, 51); font-size: 14px; word-break: keep-all;
}
.hot-content li a:hover {
	color: rgb(255, 51, 0);
}
.hot-content .hot-more {
	padding: 6px 0px 2px; font-size: 14px; float: left;
}
.qq-content {
	width: 959px; border-left-color: rgb(223, 223, 224); border-left-width: 1px; border-left-style: solid; background-color: rgb(255, 255, 255);
}
.qq-content .left-con {
	border-width: 0px 1px 1px 0px; border-style: none solid solid none; border-color: currentColor rgb(223, 223, 224) rgb(223, 223, 224) currentColor; padding: 55px 0px 0px 25px; width: 300px; height: 96px; float: left;
}
.qq-content .right-con {
	width: 633px; overflow: hidden; float: left;
}
.qq-content .right-con li {
	border-width: 0px 1px 1px 0px; border-style: none solid solid none; border-color: currentColor rgb(223, 223, 224) rgb(223, 223, 224) currentColor; padding: 15px 0px 0px 15px; width: 195px; height: 60px; float: left;
}
.qq-content .qq-con .qq-icon {
	width: 50px; float: left;
}
.qq-content .qq-con .qq-icon img {
	border: 0px currentColor;
}
.qq-content .qq-con .qq-con-right {
	float: left;
}
.qq-content .qq-con .qq-title {
	height: 25px; color: rgb(51, 51, 51); font-size: 14px; font-weight: bold;
}
.qq-content .qq-con .qq-title a {
	color: rgb(51, 51, 51);
}
.qq-content .qq-con .qq-title a:hover {
	color: rgb(255, 51, 0);
}
.qq-content .qq-con .qq-link a {
	font-size: 14px;
}
.qq-content .qq-con .qq-link span {
	margin: 0px 8px; color: rgb(0, 83, 165);
}
.out-content {
	margin: 10px auto 0px; width: 960px;
}
.out-content-title {
	background: url("../images/extra_sprite.png") repeat-x 0px -30px; border: 1px solid rgb(223, 223, 224); height: 28px;
}
.out-content-title h2 {
	padding: 4px 14px; font-size: 14px; font-weight: bold;
}
.stock-content {
	margin: -1px auto 10px; width: 960px; color: rgb(51, 51, 51);
}
.stock-header {
	height: 44px; overflow: hidden;
}
.stock-header-left {
	background: url("../images/extra_sprite.png") no-repeat -70px -120px; width: 3px; height: 44px; float: left;
}
.stock-header-mid {
	background: url("../images/extra_sprite.png") repeat-x 0px -350px; width: 954px; height: 44px; float: left; position: relative;
}
.stock-header-right {
	background: url("../images/extra_sprite.png") no-repeat -73px -120px; width: 3px; height: 44px; float: left;
}
.stock-header-mid ul {
	left: 247px; top: 14px; position: absolute;
}
.stock-header-mid ul li {
	margin-right: 20px; float: left;
}
.stock-header-mid ul li b {
	font-weight: normal;
}
.stock-header-mid ul li a {
	color: rgb(51, 51, 51);
}
.stock-header-mid .z {
	color: rgb(255, 0, 0);
}
.stock-header-mid .d {
	color: rgb(0, 128, 0);
}
.stock-header-mid .z span {
	background: url("../images/extra_sprite.png") no-repeat -79px -439px; padding-left: 13px; margin-left: 5px;
}
.stock-header-mid .d span {
	background: url("../images/extra_sprite.png") no-repeat -79px -499px; padding-left: 13px; margin-left: 5px;
}
.stock-header-mid .openstate {
	left: 191px; top: 12px; color: rgb(255, 0, 0); font-size: 14px; font-weight: bold; position: absolute;
}
#svtm {
	left: 20px; top: 14px; position: absolute;
}
#bigplate_more {
	color: rgb(0, 83, 165); margin-left: 20px;
}
.stock-search-mid {
	background: url("../images/extra_sprite.png") repeat-x 0px -394px; border-width: 0px 1px; border-style: none solid; border-color: currentColor rgb(227, 227, 227); width: 958px; height: 31px; float: left; position: relative;
}
.stock-search-mid .inner-wrapper {
	left: 110px; top: 5px; position: absolute; _top: 4px;
}
#bdswd {
	border: 1px solid rgb(127, 157, 185); width: 307px; height: 20px; line-height: 20px;
}
#bdSubmit {
	background: url("../images/extra_sprite.png") no-repeat 0px -430px; border: 0px currentColor; width: 53px; height: 22px; text-align: center; cursor: pointer;
}
.stock-search-mid .inner-wrapper td {
	padding-left: 5px;
}
#custom_button {
	padding: 2px 5px; right: 30px; bottom: 0px; position: absolute; cursor: pointer; _bottom: -1px;
}
.stock-search-mid .button-closed {
	border: 1px solid rgb(223, 223, 224); background-color: rgb(255, 255, 255);
}
.stock-search-mid .button-disabled {
	border: 1px solid rgb(223, 223, 224); color: rgb(102, 102, 102); background-color: rgb(238, 238, 238);
}
.stock-search-mid .button-open {
	border-width: 1px 1px 0px; border-style: solid solid none; border-color: rgb(127, 157, 185) rgb(127, 157, 185) currentColor; background-color: rgb(255, 255, 255);
}
.suggest_panel {
	left: 641px; top: 206px;
}
.suggest_panel .list {
	border: 1px solid rgb(127, 157, 185); left: -1px; top: -1px; width: 402px; position: relative; background-color: rgb(255, 255, 255); _top: -1px;
}
.suggest_panel .list th {
	padding: 0px 0px 0px 10px; text-align: left; color: rgb(153, 153, 153); line-height: 26px; font-weight: normal; border-bottom-color: rgb(212, 212, 212); border-bottom-width: 1px; border-bottom-style: solid; white-space: nowrap;
}
.suggest_panel .list th.bt {
	padding: 0px 10px 0px 0px; text-align: right;
}
.suggest_panel .list tbody td {
	padding: 4px 0px 4px 10px; font-size: 14px; vertical-align: top; cursor: pointer;
}
.suggest_panel .list tbody td.bt {
	text-align: right; padding-right: 10px; padding-left: 0px;
}
.suggest_panel .list .cur {
	background-color: rgb(245, 245, 245);
}
.suggest_panel .list button {
	background: url("http://www.hao123.com/images/stock/add-normal.png") no-repeat; border: currentColor; width: 44px; height: 19px; cursor: pointer;
}
.suggest_panel .list button.disabled {
	background: url("http://www.hao123.com/images/stock/add-disabled.png") no-repeat;
}
.suggest_panel .list button.added {
	background: url("http://www.hao123.com/images/stock/add-added.png") no-repeat;
}
.suggest_panel .list tfoot {
	text-align: center;
}
.suggest_panel .list tfoot td {
	padding-top: 10px;
}
.suggest_panel .list tfoot td p {
	color: red; line-height: 32px; border-top-color: rgb(153, 153, 153); border-top-width: 1px; border-top-style: solid;
}
.suggest_panel .list em {
	font-style: normal; font-weight: bold;
}
.stock-content .hide {
	display: none;
}
.stock-time {
	color: rgb(102, 102, 102); line-height: 28px; padding-left: 10px; font-size: 12px; border-right-color: rgb(227, 227, 227); border-left-color: rgb(227, 227, 227); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid;
}
.stock .record-wrapper {
	border: 1px solid rgb(227, 227, 227); padding-top: 1px; background-color: rgb(255, 255, 255);
}
.stock .record {
	width: 100%; font-size: 12px;
}
.stock .record td {
	text-align: center; line-height: 35px;
}
.stock .record th {
	background: url("../images/extra_sprite.png") repeat-x 0px -640px; text-align: center; color: rgb(51, 51, 51); line-height: 21px; font-size: 12px; font-weight: normal;
}
.stock .record .tr2 td {
	background-color: rgb(243, 247, 248);
}
.stock .record td.first {
	border-left-color: currentColor; border-left-width: medium; border-left-style: none;
}
.stock .record th.first {
	border-left-color: currentColor; border-left-width: medium; border-left-style: none;
}
.stock .record th.first p {
	border-left-color: rgb(255, 255, 255); border-left-width: 1px; border-left-style: solid;
}
.stock .record th.last p {
	border-right-color: rgb(255, 255, 255); border-right-width: 1px; border-right-style: solid;
}
.stock .record .cancel {
	width: 40px; text-align: left; padding-left: 28px;
}
.stock .record .cancel a {
	background: url("../images/extra_sprite.png") no-repeat 0px -669px; width: 10px; height: 11px; display: block;
}
.stock span.up-simple {
	margin: 3px;
}
.stock span.down-simple {
	margin: 3px;
}
.stock span.up-simple {
	color: red;
}
.stock span.down-simple {
	color: rgb(0, 128, 0);
}
.stock span.up {
	background: url("/images/stock/up1.gif") no-repeat right; color: red; padding-right: 12px;
}
.stock span.down {
	background: url("/images/stock/down1.gif") no-repeat right; color: rgb(0, 128, 0); padding-right: 12px;
}
.bank-content {
	border-width: medium 1px 1px; border-style: none solid solid; border-color: currentColor rgb(223, 223, 224) rgb(223, 223, 224); padding: 4px 0px 0px; font-size: 14px;
}
.bank-content .content-title {
	width: 114px; overflow: hidden; padding-top: 7px; padding-left: 14px; font-weight: bolder; float: left;
}
.bank-content .content-title .content-title-des {
	color: rgb(153, 153, 153); font-family: Arial; font-weight: 400;
}
.bank-content-link {
	width: 830px; overflow: hidden; float: left;
}
.bank-content-link li {
	width: 166px; float: left;
}
.bank-content-link .bank-icon {
	height: 40px; padding-top: 10px;
}
.bank-content-link .bank-icon img {
	
}
.bank-content-link .bank-info {
	padding: 2px 0px 8px; width: 129px; text-align: center;
}
.bank-content-link .bank-info span {
	color: rgb(51, 51, 51); font-family: arial; font-size: 12px;
}
.bank-content-link .bank-info a {
	color: rgb(51, 51, 51); font-size: 12px;
}
.bank-content-link .bank-info a:hover {
	color: rgb(255, 51, 0);
}
.tab-content {
	margin: 10px auto; width: 960px; color: rgb(51, 51, 51);
}
.tab-content .tab-header {
	width: 960px; overflow: hidden; position: relative;
}
.tab-content .tab-header-con {
	border-bottom-color: rgb(223, 223, 224); border-bottom-width: 1px; border-bottom-style: solid; float: left; position: relative; z-index: 2; cursor: pointer;
}
.tab-content .tab-header-lest {
	left: 0px; top: 0px; width: 960px; height: 27px; border-bottom-color: rgb(223, 223, 224); border-bottom-width: 1px; border-bottom-style: solid; position: absolute; z-index: 1;
}
.tab-content .tab-header-con .con-left {
	background: url("../images/extra_sprite.png") no-repeat -80px -120px; width: 2px; height: 27px; float: left;
}
.tab-content .tab-header-con .con-mid {
	background: url("../images/extra_sprite.png") repeat-x 0px -290px; padding: 5px 20px 0px; height: 22px; font-size: 14px; float: left;
}
.tab-content .tab-header-con .con-right {
	background: url("../images/extra_sprite.png") no-repeat -82px -120px; width: 2px; height: 27px; float: left;
}
.tab-content .tab-con-selected {
	border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid; position: relative; z-index: 2;
}
.tab-content .tab-con-selected .con-left {
	background-position: -80px -150px;
}
.tab-content .tab-con-selected .con-mid {
	background-position: 0px -320px; font-weight: bold;
}
.tab-content .tab-con-selected .con-right {
	background-position: -84px -150px;
}
.tab-content .tab-body {
	border-width: 0px 1px 1px; border-style: none solid solid; border-color: currentColor rgb(223, 223, 224) rgb(223, 223, 224);
}
.exam_content {
	padding: 10px 10px 0px;
}
.exam-month {
	margin-bottom: 10px; zoom: 1;
}
.exam-month ul {
	float: left;
}
.exam-month .more {
	font-size: 14px; float: right;
}
.exam-month li {
	margin: 0px 2px; padding: 0px 5px; font-size: 14px; float: left;
}
.exam-month li a {
	font-size: 14px;
}
.exam-month li.first {
	padding-right: 0px;
}
.exam-month li.selected {
	background-color: rgb(50, 175, 0);
}
.exam-month li.selected a {
	color: rgb(255, 255, 255); font-weight: bold;
}
.exam-body table {
	width: 100%;
}
.exam-body table th {
	height: 25px; text-align: center; color: rgb(102, 102, 102); font-size: 12px; font-weight: bold; background-color: rgb(245, 245, 245);
}
.exam-body table td {
	border-width: 1px 0px 0px 1px; border-style: solid none none solid; border-color: rgb(225, 225, 225) currentColor currentColor rgb(225, 225, 225); height: 32px; padding-left: 15px; font-size: 14px;
}
.exam-body table td.first {
	border-left-color: currentColor; border-left-width: 0px; border-left-style: none;
}
.exam-body table td a {
	margin: 0px 20px 0px 0px;
}
.erji-menu {
	padding: 10px 10px 25px; position: relative;
}
.erji-menu table {
	width: 100%;
}
.erji-menu table td {
	text-align: center;
}
.erji-menu .img-con {
	text-align: center;
}
.erji-menu .img-div {
	background: url("../images/extra_sprite.png") 0px -200px; margin: 0px auto; padding: 4px; width: 80px; height: 80px;
}
.erji-menu .img-div img {
	border: 0px currentColor; width: 80px; height: 80px;
}
.erji-menu .title {
	padding: 5px 0px 0px; text-align: center; color: rgb(51, 51, 51); font-size: 14px;
}
.erji-menu .title a {
	color: rgb(34, 34, 34);
}
.erji-menu .more {
	right: 40px; bottom: 5px; position: absolute; _bottom: 32px;
}
.erji-menu .more a {
	font-size: 14px;
}
.auto-content {
	border-width: 0px 1px 1px; border-style: none solid solid; border-color: currentColor rgb(223, 223, 224) rgb(223, 223, 224); width: 958px; height: 57px; background-color: rgb(245, 245, 245);
}
.auto-content li {
	padding: 5px 55px 0px 30px; float: left;
}
.auto-content li img {
	border: 0px currentColor;
}
.mod-content-search {
	padding: 10px 0px 0px; width: 960px;
}
.mod-content-search .search-con {
	border-width: 1px 1px 0px; border-style: solid solid none; border-color: rgb(223, 223, 224) rgb(223, 223, 224) currentColor; padding: 13px 0px 0px 189px; height: 33px; color: rgb(51, 51, 51); font-size: 14px; background-color: rgb(250, 250, 250);
}
.mod-content-search .search-con span {
	vertical-align: middle;
}
.mod-content-search .search-con .input {
	padding: 2px 0px 0px 5px; border: 1px solid rgb(127, 157, 185); width: 360px; height: 24px;
}
.mod-content-search .search-con .but {
	padding: 3px 5px;
}
.mod-content-search .radio-con {
	border-width: 0px 1px; border-style: none solid; border-color: currentColor rgb(223, 223, 224); padding: 0px 0px 0px 290px; height: 14px; color: rgb(0, 0, 0); vertical-align: top; background-color: rgb(250, 250, 250);
}
.mod-content-search .radio-con label {
	padding-left: 2px; vertical-align: middle;
}
.mod-content-search .radio-con input {
	vertical-align: middle;
}
.mod-content-search .link-con {
	border-width: 0px 1px 1px; border-style: none solid solid; border-color: currentColor rgb(223, 223, 224) rgb(223, 223, 224); padding: 17px 0px 10px 287px; font-size: 14px; background-color: rgb(250, 250, 250);
}
.mod-content-search .bottom-con {
	border-width: 0px 1px 1px; border-style: none solid solid; border-color: currentColor rgb(223, 223, 224) rgb(223, 223, 224); padding-top: 10px; background-color: rgb(250, 250, 250);
}
.clear {
	clear: both;
}
.mail-content {
	padding: 10px 0px 0px; width: 960px;
}
.mail-content form {
	border: 1px solid rgb(223, 223, 224); background-color: rgb(250, 250, 250);
}
.mail-content .search-title {
	padding: 8px 0px 0px 13px; width: 90px; height: 29px; color: rgb(51, 51, 51); font-size: 14px; font-weight: bold; float: left; background-color: rgb(237, 237, 237);
}
.mail-content .search-title-back {
	background: url("../images/extra_sprite.png") no-repeat -64px -530px; width: 23px; height: 37px; float: left;
}
.mail-content .search-con {
	padding: 6px 0px 0px 40px; height: 31px; color: rgb(51, 51, 51); font-size: 14px; float: left;
}
.mail-content .search-con .but {
	background: url("../images/extra_sprite.png") no-repeat 0px -430px; border: 0px currentColor; width: 53px; height: 22px; text-align: center; margin-left: 10px; cursor: pointer;
}
.mail-content .input {
	width: 135px; height: 18px;
}
.desktop-content {
	padding: 10px 0px 0px; width: 960px;
}
.desktop-content form {
	border: 1px solid rgb(223, 223, 224); background-color: rgb(250, 250, 250);
}
.desktop-content .search-title {
	padding: 22px 0px 0px 13px; width: 140px; height: 42px; color: rgb(51, 51, 51); font-size: 14px; font-weight: bold; float: left; background-color: rgb(237, 237, 237);
}
.desktop-content .search-title-back {
	background: url("../images/extra_sprite.png") no-repeat -64px -570px; width: 23px; height: 64px; float: left;
}
.desktop-content .search-con {
	padding: 13px 0px 0px 40px; height: 31px; color: rgb(51, 51, 51); font-size: 14px; float: left;
}
.desktop-content .search-con label {
	vertical-align: middle;
}
.desktop-content .search-con .but {
	background: url("../images/extra_sprite.png") no-repeat 0px -430px; margin: 0px 0px 0px 5px; border: 0px currentColor; width: 53px; height: 22px; text-align: center; vertical-align: middle; cursor: pointer;
}
.desktop-content .input {
	width: 420px; height: 18px; vertical-align: middle;
}
.desktop-content .radio-con {
	padding-left: 130px;
}
.desktop-content .radio-con label {
	padding-left: 2px; vertical-align: middle;
}
.desktop-content .radio-con input {
	vertical-align: middle;
}
.retop {
	background: url("../images/extra_sprite.png") no-repeat 0px -120px; width: 32px; height: 75px; bottom: 65px; display: block; position: fixed; z-index: 100;
}
.retop:hover {
	background-position: -33px -120px;
}
.map-content .map-body {
	position: relative;
}
.map-content .map-body .nanhai {
	width: 90px; height: 120px; right: -86px; bottom: 5px; position: absolute;
}
