<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
<title>365公众日历</title>
<link rel="stylesheet" href="../css/newOpen.css">
</head>
<body class="create_bg">
    <div class="header">
    	<div class="h-info">
    		<img src="../image/logo.jpg" alt="" class="h-info-face">
    		<a href="" class="h-info-name">薛鹏</a>
			<i class="h-info-line"></i>
    		<a href="javascript:;" class="h-info-quit">退出</a>
    	</div>
    	<a href="/" class="h-logo"><img src="../image/logo.jpg" alt=""></a>
    </div>
	<div class="login_div">
		<div class="login_reg_div">
			<h2><a href="javascript:;" class="reg_in_btn">注册</a>登录公众日历</h2>
			<dl>
				<dt>邮箱</dt>
				<dd><input type="text"/><div class="login_error_tips">该邮箱地址已被占用</div></dd>
			</dl>
			<dl>
				<dt>密码</dt>
				<dd><input type="password"/></dd>
			</dl>
			<dl>
				<dt>验证码</dt>
				<dd class="code_div"><input type="text"/><div class="code_img"></div></dd>
			</dl>
			<dl>
				<dt></dt>
				<dd class="login_cookie">
					<a href="javascript:;">忘记密码</a>
					<label><input type="checkbox"/><span>下次自动登录<span></label>
				</dd>
			</dl>
			<div class="login_btn_div">
				<a href="javascript:;" class="login_btn">登录</a>
			</div>
			
		</div>
	</div>
	<div class="reg_div none">
		<div class="login_reg_div">
			<h2><a href="javascript:;" class="reg_in_btn">登录</a>注册公众日历</h2>
			<dl>
				<dt>邮箱</dt>
				<dd><input type="text"/></dd>
			</dl>
			<dl>
				<dt>密码</dt>
				<dd><input type="password"/></dd>
			</dl>
			<dl>
				<dt>确认密码</dt>
				<dd><input type="password"/></dd>
			</dl>

			<dl>
				<dt>验证码</dt>
				<dd class="code_div"><input type="text"/><div class="code_img"></div></dd>
			</dl>

			<div class="login_btn_div">
				<a href="javascript:;" class="login_btn">注册</a>
			</div>
			
		</div>
	</div>

</body>
</html>