<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
<title>365公众日历</title>
<link rel="stylesheet" href="../css/newOpen.css">
<link href="/css/jquery-ui-1.9.2.custom.min.css" rel="stylesheet"/>
<link href="/gui/style/jquery.jscrollpane.css" rel="stylesheet"/>
<link href="/css/lightbox.css" rel="stylesheet"/>
</head>
<body>
	<script type="text/javascript">
    	
    	var G = {
	        currUser: {
	            "id": "235732755",
	            "username": "zhangmch",
	            "email": "153609505@163.com"
	        },
	        googleID: "",
	        outlookID: "null",
	        emailSituation: "2",
	        needBind: "",
	        currDate: new Date("2014/09/01 16:26:13"),
			autoRegBy: "null"
	    };
	</script>
    <div class="header">
    	<div class="h-info">
    		<img src="../image/logo.jpg" alt="" class="h-info-face">
    		<a href="" class="h-info-name">薛鹏</a>
			<i class="h-info-line"></i>
    		<a href="javascript:;" class="h-info-quit">退出</a>
    	</div>
    	<a href="/" class="h-logo"><img src="../image/logo.jpg" alt=""></a>
    </div>

	<div class="side">
	
		<div class="calendar"><a href="javascript:;">漂亮姑娘小跟班啦拉拉</a></div>

		<dl class="control">
			<dt><a href="javascript:;" class="control-item icon icon-schedule">日程</a></dt>
			<dd>
				<ul class="control-list">
					<li><a href="" class="control-list-on">评论管理</a></li>
					<li><a href="">权限管理</a></li>
					<li><a href="">申请</a></li>
					<li><a href="">开发者信息管理</a></li>
				</ul>
			</dd>
		</dl>
		<dl class="control control_on">
			<dt><a href="javascript:;" class="control-item icon icon-statistical">统计</a></dt>
			<dd>
				<ul class="control-list">
					<li><a href="" class="control-list-on">评论管理</a></li>
					<li><a href="">权限管理</a></li>
					<li><a href="">申请</a></li>
					<li><a href="">开发者信息管理</a></li>
				</ul>
			</dd>
		</dl>
		<dl class="control">
			<dt><a href="javascript:;" class="control-item icon icon-manage">管理</a></dt>
			<dd>
				<ul class="control-list">
					<li><a href="" class="control-list-on">评论管理</a></li>
					<li><a href="">权限管理</a></li>
					<li><a href="">申请</a></li>
					<li><a href="">开发者信息管理</a></li>
				</ul>
			</dd>
		</dl>
		<dl class="control">
			<dt><a href="javascript:;" class="control-item icon icon-calendar">日历详情信息</a></dt>
			<dd></dd>
		</dl>
	</div>

	<div class="main-outer">
		<div class="main">
			<div id="js-activity_detail" class="activity_detail">
		   		
   			</div>
		</div>
	</div>
	<script src="/js/jquery/jquery-1.8.3.min.js"></script>
	<script src="/js/jquery/jquery-ui-1.9.2.custom.min.js"></script>
	<script src="/js/jquery/jquery.lightbox.js"></script>
	<script src="/js/lib/amplify.core.min.js"></script>
	<script src="/js/newOpen/Function.js"></script>
	<script>
		var require = {urlArgs:"2014080601"};
	</script>
    <script src="/js/lib/require.min.js" data-main="/js/newOpen/base/bootstrap_detail"></script>
</body>
</html>