<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
<title>365公众日历</title>
<link rel="stylesheet" href="../css/newOpen.css">
</head>
<body class="create_bg">
    <div class="header e_clear">
    	<div class="h-info">
    		<img src="../image/logo.jpg" alt="" class="h-info-face">
    		<a href="" class="h-info-name">薛鹏</a>
			<i class="h-info-line"></i>
    		<a href="javascript:;" class="h-info-quit">退出</a>
    	</div>
    	<a href="/" class="h-logo"><img src="../image/logo.jpg" alt=""></a>
    </div>

	<div class="apply_content">
		
	</div>
</body>
</html>